@import url("http://fonts.cdnfonts.com/css/netflix-sans");

:root {
  font-family: "Netflix Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  background-color: #000;
}

* {
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.7px;
}

header {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/2548691d-4d8c-4d97-b96d-449d3cca5d7e/IN-en-20210823-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.nav .sign-in {
  margin-right: 54px;
  margin-top: -10px;
  padding: 7px 17px;
  border-radius: 3px;
}

.logo {
  height: 120px;
  margin-top: -10px;
  margin-left: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 80px 150px 80px;
  border-bottom: 8px solid #414040;
}

.optform {
  align-items: center;
  justify-content: center;
}

.feature * {
  max-width: 800px;
  text-align: center;
  line-height: 1.1;
  margin-top: 15px;
}

.input {
  display: flex;
  flex-direction: row;
}

input {
  height: 45px;
  min-width: 480px;
  padding: 10px 10px;
  font-size: 16px;
  color: #f4f4f4;
  text-align: start !important;
}

input:focus {
  color: #000;
}

.sign-up {
  padding: 15px 20px;
  font-size: 30px;
  height: 39px;
  margin-top: 0;
}

.button {
  background-color: #db0510;
}

a {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #e50914;
}

.jumbotron {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 8px solid #414040;
  padding: 45px 120px;
  align-items: center;
}

.jumbotron h1,
.faq h1 {
  font-size: 50px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  border-bottom: 8px solid #414040;
}

.faq h1 {
  margin-bottom: 30px;
}

.faq ul {
  list-style: none;
  margin-bottom: 30px;
}

.faq h3 {
  margin-bottom: 15px;
}

.answer {
  max-width: 800px;
  display: none;
}

button.question {
  height: 75px;
  width: 800px;
  background: #303030;
  color: #fff;
  font-size: 26px;
  text-align: start;
  padding: 5px 20px;
  margin: 10px 0;
}

footer {
  padding: 70px 50px;
  margin: 0px 200px;
  color: #757575;
}

.links ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 20px 0;
  line-height: 2;
  font-size: 14px;
}

.active {
  display: block;
  width: 760px;
  padding: 10px 20px;
  background-color: #303030;
}

.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.699);
  width: 400px;
  margin: 100px auto 50px auto;
}

.sign-form h1 {
  align-self: flex-start;
  font-size: 36px;  
  margin-bottom: 20px;
}

.user-email, .user-password, .user-firstname {
  padding: 10px 10px;
}

.sign-btn {
  width: 400px;
  padding: 10px 52px 10px 52px;
  background-color: #db0510;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.sign-form p {
  align-self: start;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navigation p {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
}

.header-container {
  background-image: url(https://github.com/AhmedTohamy01/React-Netflix-Clone/blob/master/public/images/misc/joker1.jpg?raw=true);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.describe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  font-size: 18px;
  margin-top: 50px;
  padding: 120px 70px;
  line-height: 1.4;
}

.describe h1 {
  font-size: 50px;
  padding: 35px 0;
}

.play-btn {
  margin-top: 30px;
  background-color: #f4f4f4;
  color: #000;
  padding: 5px 20px;
  border-radius: 3px;
}

.drama, .children, .thriller {
  margin: 30px 20px;
  padding: auto;
}

.gallery img {
  width: 98%;
}

.gallery h3 {
  padding: 15px 0;
}

.image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}


